* {
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;

}

$Pink: hsl(322, 100%, 66%);
$Light-Pink: hsl(321, 100%, 78%);
$Light-Red: hsl(0, 100%, 63%);


.header {
    margin: 5vh;

    &_navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &_image {
            width: 80%;

            &_logo {
                width: 20%;
            }
        }

        &_button {
            width: 12%;
            border-radius: 50px;
            border: 2px solid $Light-Pink;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: $Light-Pink;
            background-color: white;
        }
    }

    &_block_title {
        font-family: 'Poppins', sans-serif;
        margin-top: 15vh;
        font-size: 35px;
        text-align: center;
    }

    &_block_p {
        width: 38%;
        margin-top: 5vh;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }

    &_block_button {
        margin-top: 5vh;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        text-align: center;
        background-color: $Pink;
        border: none;
        border-radius: 50px;
        color: white;

    }
}
.main{
    width: 100%;
    &_image{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15vh;
    }
}


/* Feel free to remove these styles or customise in your own stylesheet 👍 */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}