* {
    font-family: 'Anton', sans-serif;
    font-family: 'Sofia Sans Condensed', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    max-width: 1400px;
    margin: 0 auto;
}

body {
    background-color: rgb(213, 225, 239);
    padding: 5vh;
}

.card {
    width: 30%;
    border-radius: 20px;
    margin-bottom: 5vh;
    background-color: white;
    padding: 20px;
}


.info {
    text-align: center;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 25px;
}

h1 {
    line-height: 35px;
    font-size: 22px;
    color: rgb(10, 10, 154);
}

p {
    margin-top: 15px;
    width: 90%;
}

footer {
    width: 100%;
    text-align: center;
}

.attribution {
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-family: "Fraunces";
}

/* styles for tablet */
@media (min-width: 768px) and (max-width: 991px) {

    .card {
        width: 50%;
    }
}

/* style for mobile */
@media (max-width: 767px) {

    .card {
        width: 90%;
    }

    h1 {
        font-size: 20px;
        line-height: 25px;
    }

    p {
        font-size: 16px;
        margin-bottom: 30px;
    }

}